.p1{
    text-align: center;
    float: left;

}

.p{
    text-align: center;

}

.body {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}
.img-1{
    width: 100px;
    text-align: left;
}

.h1{
    color: aliceblue;
}

.card:hover{
    transform: scale(0.9);
    transition: 0.9s;
    border: 3px solid green;
    border-radius: 10px;
}

.a {
    text-decoration: none;
}